<?xml version="1.0"?>

<launch>

  <group ns="hauler_1">

    <param name="/use_sim_time" value="true"/>
    <node name="inference" pkg="src2_object_detection" type="inference.py" output="screen">
    </node>

    <node name="approach_base_station_service" pkg="src2_object_detection" type="approach_base_station_service_round2.py" output="screen">
    </node> -->

    <node name="object_estimation_service" pkg="src2_object_detection" type="object_estimation_service.py" output="screen">
    </node>

    <node name="to_point" pkg="src2_object_detection" type="object_to_point_cloud.py" respawn="true" output="screen">
    </node>

    <node name="plot" pkg="src2_object_detection" type="plot_boxes_real_time.py" output="screen">
    </node>

    <node name="approach_excavator" pkg="src2_object_detection" type="approach_excavator.py" output="screen">
    </node>

  </group>
</launch>
