<?xml version="1.0"?>

<launch>
  <arg name="list_of_robots" default="['small_scout_1','small_hauler_1','small_excavator_1','small_scout_2','small_hauler_2','small_excavator_2']" />

  <rosparam param="robots_list" subst_value="True">$(arg list_of_robots)</rosparam>

  <node name="inference_services" pkg="src2_object_detection" type="inference_service.py" output="screen" launch-prefix="xterm -e">
  </node>

  <node name="obstacle_detection" pkg="src2_object_detection" type="obstacle_detection_multiple_rovers.py" output="screen">
  </node>


</launch>
